@import "@styles/colors.scss";

.errorLogsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.errorLog {

    span {
        color: $error;
    }

    .groupName {
        font-weight: 600;
    }
}