
.autoScrollable {
    position: relative;
}

.overlay {
    position: absolute;
    // No events
    pointer-events: none;
}

.scrollButton {
    position: absolute !important;
    right: 24px;
    bottom: 16px;
    pointer-events: all;
}
