@import "@styles/colors.scss";

.logWrapper {
    color: $secondary;
    word-break: break-word;
    white-space: break-spaces;
}

.warningLog {

    span {
        color: $warning;
    }
}

.errorMessageLog,
.sysCallErrorLog {

    span {
        color: $error;
    }
}