
$background: #010409;
$background--100: #0d1117;
$background--200: #161b22;

$scrollbar: #545c66;
$scrollbar--hover: #8c949f;

$border-color: #30363d;

$primary: rgb(230, 237, 243);
$secondary: rgb(132, 141, 151);
$success: #79ff87;
$error: #ff6666;
$error-header: #f7d5d5;
$warning: #ffde5c;
$restarting: #63b8ff;

$btn-primary: #205178;

:export {
    btnPrimary: $btn-primary;
}